<div
    class="container"
    style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
    "
>
    <div class="row">
        <div class="col-md-6 mb-2" style="height: 100px">
            <img
                class="img-fluid d-none d-sm-block"
                src="assets/img/home.jpg"
                alt="Home Bem-Vindo"
            />
        </div>
        <div class="col-md-6" style="height: 100px">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
